.flex-table:hover {
    background-color: #313131;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.flex-table {
    display: flex;
    align-items: center;
    gap: 1px;
}

.type-bar {
    margin-top: 15px;
    margin-bottom: 0;
}

.filter {
    padding-top: 5px;
    height: auto;
    max-width: 250px;
    border-top: 1px solid white;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.break {
    height: 0.1px;
    width: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #ffffff8a;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    user-select: none;
}

summary {
    -webkit-user-select: none;
    user-select: none;
}

.span-title {
    font-size: 15px;
}

.column {
    columns: 2;
}