.nope {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.nope-text {
    font-size: 30px;
}

.content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.content-container {
    height: 100%;
    margin-top: 25px;
    max-width: 935px;
}

.card {
    cursor: pointer;
    background: #31363bcc;
    height: auto;
    width: 215px;
    border-radius: 10px 10px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px;
}

.card:hover {
    .name {
        color: rgb(0, 194, 0);
    }
}

.character {
    width: inherit;
    border-radius: 10px 10px 0 0;
}

.name {
    font-size: 20px;
}

.info,
.status {
    margin: 20px;
}

.info {
    margin-top: 15px;
    margin-bottom: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 10px;
}

.content-container {
    margin-left: 80px;
    margin-right: 80px;
}

@media(max-width: 1500px) {}

@media(max-width:1440px) {
    .name {
        font-size: 20px;
    }

    .content-container {
        margin-left: 70px;
        margin-right: 55px;
    }

    @media (max-width: 1386px) {
        .content-container {
            margin-left: 45px;
            margin-right: 25px;
        }

        @media (max-width: 1320px) {
            .content-container {
                margin-left: 50px;
                margin-right: 50px;
            }

            .card {
                width: 195px;
            }

            .content {
                gap: 15px;
            }

            .content-container {
                max-width: 825px;
            }

            .name {
                font-size: 15px;
            }

            @media (max-width: 1200px) {
                .content {
                    gap: 10px;
                }

                .content-container {
                    margin-left: 50px;
                    margin-right: 20px;
                    max-width: 810px;
                }

                @media (max-width: 1160px) {
                    .content-container {
                        max-width: 647px;
                    }

                    .content {
                        gap: 30px;
                    }
                }

            }

        }
    }
}