.nope {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.nope-text {
    font-size: 30px;
}

.content {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.content-container {
    width: 1275px;
    height: 100%;
    margin-top: 25px;
}

.card {
    cursor: pointer;
    background: #31363bcc;
    height: auto;
    width: 300px;
    border-radius: 10px 10px 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px;
}

.card:hover {
    .name {
        color: rgb(0, 194, 0);
    }
}

.character {
    border-radius: 10px 10px 0 0;
}

.name {
    font-size: 30px;
}

.info,
.status {
    margin: 20px;
}

.status {
    display: flex;
    flex-direction: column;
}