.overlay {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 935px;
    top: 0;
    height: 100vh;
}

.ma-wrapper {
    background-color: #353535;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.extended {
    background-color: #242526;
    position: absolute;
    top: 175px;
    width: 715px;
    border-radius: 10px;
    display: flex;
    left: 110px;
}

.extended-absolute {
    width: 215px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px -1px, rgba(0, 0, 0, 0.16) 0px 2px 4px;
}

.character-modal {
    border-radius: 10px 0 0 0;
    width: inherit;
}

.more-about {
    margin: 20px;
    border-radius: 10px;
}

.info-extended {
    align-items: center;
    gap: 15px !important;
    flex-direction: row !important;
}

.gs-extended {
    font-size: 15px;
    margin-top: 2px;
}

.cb-wrapper {
    position: fixed;
    right: 353px;
    margin-top: 30px;
}

@media (max-width: 1440px) {
    .gs-extended {
        font-size: 15px;
    }

    @media (max-width: 1386px) {

        @media (max-width: 1320px) {

            @media (max-width: 1280px) {
                .extended {
                    width: 615px;
                }

                .overlay {
                    width: 825px;
                }

                .gs-extended {
                    font-size: 12px;
                }
            }
        }
    }
}