.nav {
    display: block;
    min-width: 350px;
    height: 100vh;
}

.nav-container {
    padding: 24px;
    position: fixed;
    background-color: #242526;
    min-width: 300px;
    height: 100vh;
}

.header {
    height: auto;
    max-width: 260px;
    display: block;
}

.icon {
    fill: black;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-title {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    color: green;
}

.search-bar {
    margin-top: 25px;
    margin-bottom: 25px;
}

[type="search"] {
    min-height: 25px;
    min-width: 300px;
    background-color: #1f1f20;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

textarea:focus,
input:focus {
    outline: none;
    box-shadow: unset;
    background-color: #2f2f2f;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filter:hover {
    background-color: #313131;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.filter {
    padding-top: 10px;
    min-height: 30px;
    max-width: 300px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
    -webkit-transition: 0.3s;

    transition: 0.3s;
}

.filter-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.break {
    height: 0.1px;
    width: 60px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #ffffff8a;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}