.nav {
    display: block;
    height: 100vh;
}

.menu-call {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-call,
.last-bar {
    margin-left: 15px;
    margin-right: 15px;
}

.menu-call-btn {
    width: 70px;
}

.nav-mobile {
    display: none;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
}

.mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242526;
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px;
}

.nav-container {
    padding: 24px;
    position: fixed;
    background-color: #242526;
    height: 100vh;
}

.header {
    height: auto;
    max-width: 260px;
    display: block;
}

.icon {
    fill: black;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-title {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    color: green;
}

.search-bar {
    margin-top: 25px;
    margin-bottom: 25px;
}

[type="search"] {
    height: auto;
    background-color: #1f1f20;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

textarea:focus,
input:focus {
    outline: none;
    box-shadow: unset;
    background-color: #2f2f2f;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-title {
    margin-bottom: 5px;
}

.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.break {
    width: 80px;
}

.filter-title {
    font-size: 24px;
}

.nav-container {
    max-width: 300px;
}

.nav {
    width: 300px;
}

[type="search"] {
    max-width: 250px;
    width: 250px;
}

@media(max-width: 1770px) {
    @media(max-width: 1630px) {
        [type="search"] {
            max-width: 205px;

        }

        .break {
            width: 70px;
        }

        .nav-container {
            max-width: 280px;
        }

        .nav {
            width: 280px;
        }

        .filter-title {
            font-size: 22px;
        }

        @media (max-width: 1500px) {
            .nav {
                width: 250px;
            }

            .nav-container {
                max-width: 250px;
            }

            @media (max-width: 1440px) {
                .filter-title {
                    font-size: 20px;
                }

                @media (max-width: 1386px) {

                    @media (max-width: 1320px) {

                        .filter-title {
                            font-size: 16px;
                        }

                        @media (max-width: 1200px) {
                            @media (max-width: 1160px) {
                                @media (max-width: 992px) {
                                    .nav {
                                        display: none;
                                    }

                                    .nav-title {
                                        font-size: 30px;

                                    }

                                    .nav-mobile {
                                        display: block;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}