.nav-buttons {
    position: fixed;
    height: auto;
    margin: 0;
    right: 60px;
    top: 415px;
}

.buttons {
    width: 65px;
}

.arrows {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: auto;
    top: 310px;
}

.arrow {
    height: auto;
    width: 25px;
    color: white;
    cursor: pointer;
}

.cross {
    width: 50px;
    cursor: pointer;
    height: auto;
}