.buttons {
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
}

.nav-buttons {
    position: fixed;
    height: auto;
    margin: 0;
    top: 350px;
}

.arrows {
    display: flex;
    gap: 25px;
}

.arrow {
    height: auto;
    max-width: 30px;
    color: white;
    cursor: pointer;
}